body{background-color: #f2f2f2;
font-family: Josefin Sans;
  justify-content: center;}


header {display: flex;
  flex-direction: row;
  height: 10em;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;}

  .headleft img {height: 5em;}

  .headleft{margin-left: 1em;}

  header a {text-decoration: none;
    color: white;}

  .headright{display: flex;
    flex-direction: column;
    width: 67%;}
  .headright nav{display: flex;
    justify-content: space-between;}


body{display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;}

a{color: darkgrey;
  text-decoration: none;
}

a:hover{color:blue;}

a:visited{
  text-decoration: none;
  color: darkgrey;
  font-style: normal;}

a:visited:hover{ color: purple;}


/*Homepage*/

.banner{display:flex;
  flex-direction: row;
  width: 95%;}

  .bannerleft{width:30%;}

  .bannerright{width:60%;}



    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;

      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    .script {object-fit: cover;}

  .homebox{display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 2em;}

/*box*/

  .box{display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: lightblue;}

    .boxguts{display: flex;
      flex-direction: row;
      width:100%;
      height: 18em;}


    .boxleft{width: 35%;
      margin: 1em;
        }

    .boxleft img{object-fit: cover;
      width: 100%;
      height: 100%;}

    .boxright{display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:60%;
    margin: 1em;
    }

    .boxnode{display: flex;
      flex-wrap: wrap;
      height:100%;
      justify-content: center;
      align-items: center;
      width: 47.5%;
    }

    .boxnode .boxhover{display: none;}

    .boxdash{display: flex;
      flex-direction: row;
      justify-content: space-around;}

    .boxdot{width: 5em;
      height: 100%;
      }

    .boxr1{display: flex;
      flex-direction: row;
      height: 100%;}

    .boxr2{display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 47.5%;kha
      }
/*hover effect*/

    .boxnode:hover h3{display: none;}
    .boxnode:hover .boxhover{display: block;}






/*Hoverbox*/

.hoverbox{width: 100%;
  color: white;
  height: 20em;
  font-family: Exo;
  padding: 3em;
  transition: all 2s;
  transition-delay: .5s;
  }

  .hoverbox h4{display: none;}

  .hoverbox:hover h2{
    display: none;
    }
  .hoverbox:hover h4{display: block;}


/*infobar*/

.info{display: flex;
  flex-direction: column;
  height:auto;
  width: 85%;
  align-items: center;}


  .infobar{display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    }

    .info h1{width: 80%;}


/*banner*/
    .banner{
      display: flex;
      flex-direction: row;
      height:42.5em;
      background-color: #fff;}

      .banner img{width: 60%;
        padding: 32px 24px;}

      .bnrright{display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 3em;}

      .bnrbtn{ background-color: darkgrey;
        text-decoration: none;
        border: none;
        color: white;
        width: 100%;
        padding: .5em 0;}

      .bnrbtn:hover{background-color: dimgrey;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .5);  }

      @media only screen and (max-width: 1065px){
        h1{ font-size: 3em;}  }

      @media only screen and (max-width: 870px){
        h1{ font-size: 2em;}  }


      @media only screen and (max-width: 480px){
        .banner img{width: 100%;
          padding: 0px 0px 0px 0px;}
        .banner {flex-direction: column;}

        .bnrright{padding: 32px 16px;}
      }

/*nodemap*/
  .nodemap{display: flex;
    flex-direction: column;
    justify-content: center;}

  .nodemap img{width: 80%;
    height: auto;}

/*footer*/
footer
  {height: 10em;
  object-fit: cover;

  width: 100%;}

  footer img{height: 100%;
    object-fit: cover;}
